<div ng-controller="ChessBoardController">
    <!--<div id="win"></div>-->
    <h1> {{greet}}</h1>
    <div id="dots">
        <div id="player-turn">Player :{{player == 1 ? ' white' : ' black'}}</div>
        <div ng-repeat="dot in dots">
            <!--by location instead of by value so use track by $index in ng-repeat-->
            <div ng-repeat="item in dot track by $index" class="item" ng-class="{'dot-left':$index == 0, 'dot-right':$index == 14,
            'dot-top':$parent.$index == 0,'dot-bottom':$parent.$index == 14}">
                <div class="point" ng-if='item != 0' ng-class="{'point-white':item == 1, 'point-black':item == 2}"></div>
                <div class="focus" ng-click="nextStep($parent.$index,$index)"></div>
            </div>
        </div>

    </div>
</div>